{% if site.blogfeed %}
	<div id="blogBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Recent blog posts</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="blogArticles">
				<a href="https://www.atbash.be/2018/03/26/generating-maven-projects/">March 26, 2018 - Generating (Maven) projects</a
			</div>
			<div id="blogArticles">
				<a href="https://www.atbash.be/2018/03/14/http-signatures-for-end-to-end-protection/">March 14, 2018 - HTTP Signatures for End-to-End protection</a
			</div>
			<div id="blogArticles">
				<a href="https://www.atbash.be/2018/02/26/a-renderer-interceptor-concept-for-java-serverfaces/">February 26, 2018 - Renderer interceptor conceot for JavaServer Faces</a
			</div>
					
			<br>
		</div>
	</div>
{% endif %}

