<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Senior Developer who loves to create (web) applications with the Java EE platform and MicroProfile.IO resources. <br/>
			I have spent the last 10 years all my spare time to learn about the internals of Java EE, implemented various projects in a team for customers, helped various Open Source projects in that area (Apache Myfaces, PrimeFaces, DeltaSpike, MicroProfile.io, ...) so that I can say that I have a very good knowledge of it (mainly around topics JSF, CDI, JPA, EJB). <br/>
                        Since 4 years i'm also passionate about Web application security and more in particilar OpenId Connect, OAuth2 and JWT usages to secure your web applications. <br/>
			I love to create reuseable code and create library and frameworks out of it. Not only do I participate in the already mentioned OpenSource projects but I started also to opensource my code in others areas (JSON, Web Application Security, utilities, etc) under the name Atbash <a href="https://www.atbash.be">blog</a> and <a href="https://github.com/atbashEE">GitHub</a>
			
			
		</div>
		<br>
	</div>
</div>
